<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <style>
        body {
            background-color: white;
            max-width: 600px;
        }

        table {
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid;
            padding: 8px;
        }

        .container {
            width: 600px;
            border: 1px black solid;
            padding: 0 15px;
        }
    </style>
</head>
<body> 
    <div class="container">
    {% autoescape off %}
    {{ question.question_text_new }}
    {% endautoescape %}
    <p style="color: #bbb"><small>Все авторские права принадлежат Харченко Виталию Викторовичу</small></p>
    </div>
</body>
</html>